*{
    width: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;

}
h1{
    color: blue;
    text-align: center;
    margin-top: 20px;

}
p{
    color: blueviolet;
    line-height: 1.6;
    margin: 20px;
}